body {
  min-height: 100%;
  height: 100%;
}

#sidenav {
  width: 400px;
  height: 100%;
  position: fixed;
  background-color: #f1f1f1;
  top: 0;
  left: 0;
  overflow: scroll;
}

#jxg-container {
  margin-left: 440px;
}

.tab {
  display: block;
  padding: 3px 16px 3px 16px;
}

.tab:hover {
  background-color: #ccc;
}

.active-tab {
  background-color: #4caf50 !important;
  color: white !important;
}

.tab-header {
  display: block;
  padding: 3px 16px 3px 16px;
  margin: 1px 0px 1px 0px;
  background-color: #444;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
